.describe {
    margin-top: 19%;
    background-color: rgb(252, 250, 255);
    height: 450px;
    padding-top: 300px;
    padding-bottom: 300px;
}

.ParaText {
    width: 600px;
    font-size: 18px;
}

.logoplace {
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: 92%;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); */
}

.phototexte {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8%;
    justify-content: center;
}

.Titre {
    font-size: 35px;
    font-weight: bold;
    width: fit-content;
    margin: 0 auto;
    margin-bottom:40px;
    padding-top: 5w0px;
}