.ElemIMG {
    width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    border: 3px solid black;
  }

.Elem {
    display: flex;
    flex-direction: column;
    align-items: center;
}