.FirstPage {
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kneeimg {
    margin-top: 5%;
    width: 30%;
    /* position: absolute; */
}

.PageBody {
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Name {
    font-size: 60px;
    color: #FFFFFF;
}

.Description{
    font-size: 25px;
    color: #FFFFFF;
    margin-top: -50px;
}

.Precision{
    color: #ffffff77;
    font-size: 15px;
    margin-top: -20px;
}

.StylButton {
    margin-top: -0px;
	--x: 50%;
	--y: 50%;
	
	position: relative;
	appearance: none;
	padding: 1em 2em;
	color: white;
	cursor: pointer;
	outline: none;
	border-radius: 100px;
	
	border: 2px solid transparent;
	background: linear-gradient(#000, #000) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), #000000, #845EC2) border-box;
}

  @media (max-width: 1170px) {
    .Name {
    font-size: 35px;
    margin-top: 150px;
    color: #FFFFFF;
    }

    .Description{
        font-size: 25px;
        color: #FFFFFF;
        margin-top: -40px;
    }

    .kneeimg {
    margin-top: 50px;
    width: 30%;
    /* position: absolute; */
    }

    .PageBody {
    margin-top: -150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
  }

/* .QuiButton {
    background-color: #ad9276;
    border: none;
    border-color: black;
    font-size: 24px;
    width: 170px;
    height: 65px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 120px;
}

.QuiButton:hover {
    background-color: #8f7b5e;
}

.QuiButton:active {
    background-color: #6d5b42;
    opacity: 0.33;
    transform: scale(0.95);
} */
