.Quisuisje {
    margin-top: 19%;
    background-color: white;
    height: 450px;
    padding-top: 50px;
}

.ParaText {
    width: 600px;
    font-size: 18px;
}

.Quisuijephoto {
    width: 180px;
    height: 180px;
    object-fit: cover;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.phototexte {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8%;
    justify-content: center;
}

.Titre {
    font-size: 35px;
    font-weight: bold;
    width: fit-content;
    margin: 0 auto;
    margin-bottom:40px;
    padding-top: 5w0px;
}